.top-section {
    background: linear-gradient(31deg, #020F13, #02141D, #003566);
}




.Kontes-Compressed{
    font-family: "Kontes-Compressed";
}
.Kontes-Compressed-Bold{
    font-family: "Kontes-CompressedBold";
}

.color-yellow-sea {
    color: #EEA736;
}

.color-raven{
    color: #6C757D;
}

.nav-list {
    color: #fff;
    font-weight: 400;
    font-family: "DMMono-Light";
    font-size: 20px;
    text-decoration: none;
}
.backtitle{
font-size: 98px;
font-weight: 400;
line-height: 115.84px;
text-align: left;

}