.top-section {
    background: #0057a8;
    background: linear-gradient(207deg, #04315c 0%, rgb(1, 15, 22) 100%);
}




.Kontes-Compressed {
    font-family: "Kontes-Compressed";
}

.Kontes-Compressed-Bold {
    font-family: "Kontes-CompressedBold";
}

.color-yellow-sea {
    color: #EEA736;
}

.color-raven {
    color: #6C757D;
}

.nav-list {
    color: #fff;
    font-weight: 400;
    font-family: "DMMono-Light";
    font-size: 20px;
    text-decoration: none;
}

/* .backtitle{
font-size: 98px;
font-weight: 400;
line-height: 115.84px;
text-align: left;

} */

.gradientBg {
    background: rgb(2, 15, 19);
    background: linear-gradient(61deg, rgba(2, 15, 19, 1) 0%, rgba(17, 86, 166, 1) 100%);
}

.contrib-container {
    filter: url('#flt_tag');
    width: 282px;
    height: 424px;
    overflow: hidden;

}

.contrib-container>img {
    margin: 0 auto;
    clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 100%, 0% 100%);

}

.flt_svg {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
}