@font-face {
  font-family: "DMMono";
  src: url("../assets/fonts/DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "kontes";
  src: url("../assets/fonts/demo-kontes-compressed-bold.otf") format("opentype");
}
@font-face {
  font-family: "abraham";
  src: url("../fonts/abraham/abraham.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kontes-Compressed";
  src: local("Kontes-Compressed"),
    url("../fonts/Kontes/Kontes-Compressed.otf") format("truetype");
    font-display: swap;
}
@font-face {
  font-family: "DMMono";
  src: local("DMMono"),
    url("../fonts/dm-mono-2/DMMono-Regular.tt") format("truetype");
    font-display: swap;
}
@font-face {
  font-family: "DMMono-Light";
  src: local("DMMono-Light"),
    url("../fonts/dm-mono-2/DMMono-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
  font-family: "Kontes-CompressedBold";
  src: local("Kontes-CompressedBold"),
    url("../assets/fonts/demo-kontes-compressed-bold.otf") format("truetype");
}
@font-face {
  font-family: "Kontes-CompressedBold";
  src: local("Kontes-CompressedBold"),
    url("../assets/fonts/demo-kontes-compressed-bold.otf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
.progress-bar-white {
  background-color: rgba(46, 50, 59, 1) !important;
}
/* Add this CSS to your stylesheet */
.custom-dot.slick-active {
  background-color: red !important;
}


.popup{
  background: linear-gradient(#020f13, #686868 188%);
}