

@font-face {
    font-family: "DMMono";
    src: url("../assets/fonts/DMMono-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "kontes";
    src: url("../assets/fonts/demo-kontes-compressed-bold.otf") format("opentype");
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  

body {
    margin: 0;
    padding: 0;
}

