@font-face {
    font-family: "Kontes-Compressed";
    src: local("Kontes-Compressed"),
        url("../fonts/Kontes/Kontes-Compressed.otf") format("truetype");
}
@font-face {
    font-family: "DMMono";
    src: local("DMMono"),
        url("../fonts/dm-mono-2/DMMono-Regular.tt") format("truetype");
}
@font-face {
    font-family: "DMMono-Light";
    src: local("DMMono-Light"),
        url("../fonts/dm-mono-2/DMMono-Light.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

