@font-face {
  font-family: "DMMono";
  src: url(./assets/fonts/DMMono-Regular.ttf);
}
@font-face {
  font-family: "kontes";
  src: url(./assets/fonts/demo-kontes-compressed-bold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;



